<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css"
  />
    <link rel="stylesheet" href="../stylesheets/awards.css" />
  </head>
  <body>
    <div id="main">
      <div id="nav">
        <h1 onclick="redirectToHome()"><img style="height: 4vh; object-fit: cover; object-position: center; width: 13vw;margin-top: 2vh;" src="../images/logo.png" alt=""></h1>
        <div id="navpart-2">
          <h1 id="home" onclick="redirectToHome()">Home</h1>
          <h1 id="about" onclick="redirectToAbout()">About us</h1>
          <h1 id="feeding" onclick="redirectToFeeding()"> Awards and Recognitions</h1>
          <h1 id="milestone" onclick="redirectToMilestone()">Milestones</h1>
          <h1 id="contact" onclick="redirectToContact()">Contact</h1>
        </div>
        <div id="navpart-3">
          <button
            id="donate"
            style="padding: 1vh 3vw; text-align: center; width: fit-content"
            onclick="redirectToDonate()"
          >
            <i class="ri-heart-fill"></i>Donate
          </button>
          <img src="../images/login.png" onclick="redirectToPartner()">
          <!-- <h1 id="partner" onclick="redirectToPartner()"></h1> -->
        </div>
      </div>
      <div id="head" style="margin-top: 3vw;">Awards and Recognitoins</div>
      <div id="page1">
        <div id="Acards">
          <div class="card">
            <img
              src="https://imgs.search.brave.com/O9xmSB9rbVUhz7tuM5Nm3Bu74XMvCVCGk0iiSurR23Q/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMuc3F1YXJlc3Bh/Y2UtY2RuLmNvbS9j/b250ZW50L3YxLzYw/ODFmNzkwZDhlNmRh/MTU1YmE5YmM0NC8x/NjE5MTg5OTgwNzM2/LUdXVUJTQldSSVBZ/MDg1QlhERzVEL0Nv/bW11bml0eStJbXBh/Y3QxLmpwZWc"
              alt=" "
            />
            <div class="card__content">
              <p class="card__title">sustainability award 2019</p>
              <p class="card__description">
                Given to recognize our commitment to reducing food waste and
                addressing hunger by connecting surplus food from restaurants to
                people in need..
              </p>
            </div>
          </div>

          <div class="card">
            <img
              src="https://imgs.search.brave.com/AvISEM7CqzhjIL5qJhGwmNXj5K2YrsS9oLg0y7ZIrOE/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMTE5/ODIyODQ3Ni9waG90/by9zZWEtb2YtaGFu/ZHMtaW4tdW5pdHku/anBnP3M9NjEyeDYx/MiZ3PTAmaz0yMCZj/PTlGVlJLX1hlcW82/Ui1aN1Vwck9LWFc3/b3hiZGQxTUhpcHpv/YTI2VndVNWM9"
              alt=""
            />
            <div class="card__content">
              <p class="card__title">Community impact award 2019</p>
              <p class="card__description">
                Community Impact Award: Highlighting our positive impact on the
                community by providing meals to those facing food insecurity..
              </p>
            </div>
          </div>

          <div class="card">
            <img
              src="https://imgs.search.brave.com/ysisZjC2nt2Hwt8dZM13XZCDmFTwl97DbRpGY-Ospyo/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9lbG9u/Y2RuLmJsb2IuY29y/ZS53aW5kb3dzLm5l/dC9ldTMvc2l0ZXMv/NzQvMjAyMi8wNS8w/NV8xMV8yMDIyX0Zh/Y3VsdHktQXdhcmRz/LTEtNDQweDQ0NC5q/cGVn"
              alt=""
            />
            <div class="card__content">
              <p class="card__title">Social Entrepreneurship Award 2020</p>
              <p class="card__description">
                Acknowledging our entrepreneurial efforts in creating a
                sustainable business model that addresses social issues like
                hunger and food waste.
              </p>
            </div>
          </div>

          <div class="card">
            <img
              src="https://imgs.search.brave.com/wekwwCtp8xaGStKOzF0RJTwtBZ8r_LnwlekzjlntSnI/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvMTMy/MjIyMDQ0OC9waG90/by9hYnN0cmFjdC1k/aWdpdGFsLWZ1dHVy/aXN0aWMtZXllLmpw/Zz9zPTYxMng2MTIm/dz0wJms9MjAmYz1v/QU1tR0p4eVRUTlcw/WGN0dFVMaGtwNUl4/Zlc5WlRhb1ZkVndJ/Mkt3SzVzPQ"
              alt=""
            />
            <div class="card__content">
              <p class="card__title">Tech for Good Award 2021</p>
              <p class="card__description">
                Highlighting our use of technology for social good, specifically
                in the realm of food rescue and redistribution.
              </p>
            </div>
          </div>

          <div class="card">
            <img
              src="https://imgs.search.brave.com/6zTwh3JI0VUSDGdofAqo3YrVjnm_4FKJ4eOCXKPVC9E/rs:fit:500:0:0/g:ce/aHR0cHM6Ly90NC5m/dGNkbi5uZXQvanBn/LzAyLzQ5LzM1LzA5/LzM2MF9GXzI0OTM1/MDkzMl81U0FLNnF5/QW9NVVhCTW1OV1dH/UHJOd2pLWUUzeXpq/dC5qcGc"
              alt=""
            />
            <div class="card__content">
              <p class="card__title">Innovation in Food Rescue 2020</p>
              <p class="card__description">
                Recognizing our innovative approach to utilizing technology and
                partnerships to efficiently redistribute surplus food..
              </p>
            </div>
          </div>

          <div class="card">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSp0eOjhhbe9O5aBiZJPpo4UuGskSLzDwA9cA&usqp=CAU"
              style="object-fit: contain"
            />
            <div class="card__content">
              <p class="card__title">Shark tank funding S2 2024</p>
              <p class="card__description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco.
              </p>
            </div>
          </div>
        </div>
      </div>
      <footer>
        <div class="container">
          <div class="left">
            <h2>Subscribe to Our Emails</h2>
            <p>
              Stay up to date with the latest at Feed the Need Missions,
              delivered right to your inbox. Sign up below to subscribe to our
              newsletter and email updates.
            </p>
            <form action="#" method="POST">
              <div class="input-group">
                <input
                  type="email"
                  name="email"
                  placeholder="Email Address*"
                  required
                />
                <button type="submit">Subscribe</button>
              </div>
            </form>
          </div>
          <div class="middle">
            <h2>About Us</h2>
            <ul>
              <li><a href="#">Weekly Sites</a></li>
              <li><a href="#">Disaster Relief</a></li>
              <li><a href="#">Employment</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
          <div class="right">
            <h2>Get Involved</h2>
            <ul>
              <li><a href="#">Donate Now</a></li>
              <li><a href="#">Volunteer</a></li>
              <li><a href="#">Events</a></li>
              <li><a href="#">Give Back Beef</a></li>
              <li><a href="#">Table Talk</a></li>
              <li><a href="#">Gobble Kits</a></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script>
      var home = document.querySelector("#nav #navpart-2 #home");
      var about = document.querySelector("#nav #navpart-2 #about");
      function redirectToAbout() {
        window.location.href = "/about";
      }
      function redirectToHome() {
        window.location.href = "/";
      }
      function redirectToDonate() {
        window.location.href = "/donate";
      }
      function redirectToContact() {
        window.location.href = "/contact";
      }
      function redirectToFeeding() {
        window.location.href = "/feeding";
      }
      function redirectToMilestone() {
        window.location.href = "/milestone";
      }
      function redirectToPartner() {
        window.location.href = "/partner";
      }


      gsap.registerPlugin(ScrollTrigger);

const locoScroll = new LocomotiveScroll({
  el: document.querySelector("#main"),
  smooth: true,

  // for tablet smooth
  tablet: { smooth: true },

  // for mobile
  smartphone: { smooth: true }
});
locoScroll.on("scroll", ScrollTrigger.update);

ScrollTrigger.scrollerProxy("#main", {
  scrollTop(value) {
    return arguments.length
      ? locoScroll.scrollTo(value, 0, 0)
      : locoScroll.scroll.instance.scroll.y;
  },
  getBoundingClientRect() {
    return {
      top: 0,
      left: 0,
      width: window.innerWidth,
      height: window.innerHeight
    };
  }
});
var tl = gsap.timeline()

tl.from("#nav ,#navpart-2 h1,#navpart-3",{
    y:-100,
    opacity:0,
    duration:1,
    stagger:0.2,
})

tl.from("#head",{
    scale:0,
    opacity:0,
    duration:1,
    stagger:0.2,
})


  tl.from("#Acards", {
    opacity: 0,
    scale:0,
    // y: 50,
    stagger: 0.3,
    // scale: 0.8,
    ease: "power3.out",
  });

    </script>
    <!-- <script src="init.js"></script> -->
  </body>
</html>
