<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>
    <link rel="stylesheet" href="../stylesheets/thankyouLogin.css">
</head>

<body>
    <div class="container">
        <div class="content">
            <img src="../images/check.png" alt="Success Icon" class="success-icon">
            <h1 class="title">Thank You for Logging In!</h1>
            <p class="description">You are now part of FoodForward community. Together, we can make a difference!</p>
            <a href="/" class="home-btn">Go to Home</a>
        </div>
    </div>
</body>

</html>
