body {
    font-family: 'gilroy', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f4f6;
}
#navpart-3 {
    display: flex;
    align-items: center;
    gap: 2vw;
  }
  
  #navpart-3 img{
    height: 4vh;
    width: 2vw;
    object-fit: cover;
    object-position: center;
  }
#nav {
    display: flex;
    background-color: #ffffff;
    height: 7vh;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 3vw;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#navpart-2{
    display: flex;
    align-items: center;
    gap: 3vw;
}

#nav h1 {
    font-size: 5vh;
    cursor: pointer;
    color: #333;
    transition: color 0.3s;
}

#navpart-2 h1 {
    font-size: 3vh;
    cursor: pointer;
    color: #333;
    transition: color 0.3s;
}

#nav h1:hover {
    color: #4DB748;
}

#donate {
    background-color: #4DB748;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 600;
    padding: 1vh 3vw;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#donate:hover {
    background-color: #45a641;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.connect h2 {
    color: #4CAF50;
    font-size: 2em;
    margin-bottom: 10px;
}

.connect h2 span {
    color: #333;
}

.connect p {
    color: #555;
    font-size: 1.2em;
}

.contact-form {
    margin-top: 30px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.contact-form textarea {
    height: 150px;
}

.contact-form button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #45a049;
}

.addresses {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.address {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(33.33% - 20px);
    box-sizing: border-box;
}

.address h3 {
    color: #4CAF50;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.address p {
    color: #555;
    font-size: 1.1em;
    margin-bottom: 5px;
}
